{{page-title "Random Scene Prompts"}}
<h1>Random Scene Prompts</h1>

<ul>
  {{#each this.model.prompts as |prompt|}}
    <li>{{prompt}}</li>
  {{/each}}
</ul>

<p>Reload the page to generate new prompts.</p>
